@charset "utf-8"; 

body,ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
	font: 12px Arial;
}

body {
	padding-top: 7%;
}

.wrap {
	width: 698px;
	margin: auto;
}

.search-banner {
	margin: auto auto 20px auto;
	height: 120px;
	border-bottom: 1px solid #029ae3;
	position: relative;
}

.search-banner .banner-text {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 10;
	border-bottom: 3px solid #cde6fe;
	color: #b3b3b3;
	line-height: 26px;
	font-size: 14px;
}

.search-wrap {
	margin: auto;
	height: 138px;
	border: 1px solid #C4C2C2;
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	background-color: #fff;
}

.search-nav {
	height: 25px;
}

.search-nav li {
	float: left;
	clear: none;
	width: 86px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-right: 1px solid #C4C2C2;
	color: #466BAE;
	cursor: pointer;
	color: #777;
	border-bottom: 1px solid #C4C2C2;
	background: #f2f2f2;
	background: -webkit-gradient(0% 0, 0% 100%, from(#f2f2f2), to(#ededed) );
	background: -moz-linear-gradient(-90deg, #f2f2f2, #ededed) scroll repeat
		0 0 transparent;
}

.search-nav li:last-of-type,.search-nav li.last {
	border-right: 0px;
	width: 87px;
}

.search-nav li.current,.search-btn {
	background: url(img/firefox_btn_bgs.png) 0 0 no-repeat;
}

.search-nav li.current {
	height: 31px;
	color: #fff;
	width: 87px;
	border: 0;
	cursor: default;
	background-position: 0 -49px;
}

#searchLogo a {
	display: block;
	width: 90px;
	height: 35px;
}

.baidu-logo,.google-logo,.taobao-logo,.jingdong-logo,.dangdang-logo,.amazon-logo
	{
	position: absolute;
	left: 20px;
	top: 45px;
	width: 90px;
	height: 42px;
	background: url(img/firefox_search_logos.gif) 0 10px no-repeat;
}

.baidu-logo {
	background-position: 0 5px;
}

.google-logo {
	background-position: 0 -48px;
}

.taobao-logo {
	background-position: 0 -105px;
}

.jingdong-logo {
	background-position: 0 -170px;
}

.dangdang-logo {
	background-position: 0 -250px;
}

.amazon-logo {
	background-position: 0 -315px;
}

.search-form {
	position: absolute;
	left: 120px;
	top: 50px;
}

.outer-wrap {
	width: 508px;
	padding: 3px;
	background: #cde6fe;
}

.inner-wrap {
	border: 1px solid #009ae2;
	height: 30px;
	background: #fff;
}

.search-key {
	width: 400px;
	height: 30px;
	padding: 0 4px;
	border: 0;
	background: transparent;
	float: left;
}

.search-btn {
	height: 30px;
	line-height: 30px;
	width: 85px;
	text-align: center;
	background-position: 0 0;
	border: 0;
	color: #fff;
	float: right;
}

.radio-wrap {
	margin-top: 10px;
}

.radio-wrap li {
	float: left;
	clear: none;
	margin-right: 10px;
}

.radio-wrap li label {
	cursor: pointer;
}

.search-tip {
	display: none;
	position: absolute;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 5px;
	font-size: 12px;
	z-index: 3;
}

.search-tip li {
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
	cursor: default;
}

.search-tip li.selected {
	background-color: #efefef;
}